/* TAGS */

body {
  margin: 0; padding: 0;
  font-size: 10pt; font-family: sans-serif, Arial; 
}

a { 
  text-decoration: none;
  color: #ff4455;
}

a:hover {
  color: #ff4455;
}

h1,h2,h3,h4,h5,h6 { 
  font-family: sans-serif, Arial; font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

h1 { font-size: 1.9em; line-height: 1;    margin: 0.50em 0; }
h2 { font-size: 1.5em;                    margin: 0.75em 0; }
h3 { font-size: 1.3em; line-height: 1;    margin: 1.00em 0; }
h4 { font-size: 1.2em; line-height: 1.25; margin: 1.25em 0; }
h5 { font-size: 1.0em; font-weight: bold; margin: 0 0 1.5em 0; }
h6 { font-size: 1.0em; font-weight: bold; }

h1,h2 {
  padding-top: 10px;
}

h1:first-child {
  padding-top: 5px;
}

p {
  line-height: 1.6em; 
  color: #222;
}

/* CLASSES */

.heading { font-size: 2em; }

.heading .title {
  font-size: 1.3em; font-weight: bold; 
  color: #ff4455;
}

.heading .title:hover {
  color: #2454ad;
}

.heading .date  { font-size: 0.7em; margin-right: 1em; border: 1px solid #ccc; }
.heading .date .year  { background: url(/assets/images/bg.jpg) bottom; padding: 0 3px; text-align: center; }
.heading .date .month { background: #fff;  padding: 0 3px; text-align: center; }

.inner {
  width: 720px;
  margin: 0 auto;
}

/* ID */

#container {
}

#header {
  height: 210px;
  background: url(/assets/images/bg.jpg) center repeat-x;
  position: relative;
}

#header .title {
  margin-bottom: 20px;
}

#header {
  color: white;
}

#header .title {
  height: 70px; padding: 60px 0;
  font-size: 5em; text-align:center; font-weight:bold; letter-spacing:10px; 
}

#nav {
  width:100%; height:30px;
  font-size:12px; font-weight:bold;
  background:white; opacity:0.8;
}

#nav ul {
  margin:0; padding:0;
  list-style: none;
}

#nav li {
  width: 100px; float: left;
  border-left: 1px solid #ccc; border-right: 1px solid #ccc;
  line-height: 25px; text-align: center; 
}

#nav li:hover {
  background: #ccc;
}

#article {
  padding: 2em 0;
}

#footer {
  padding: 2em;
  color:white; background:url(/assets/images/bg.jpg) center repeat-x;
  font-size:9px; font-weight:bold;
}

